body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://i.etsystatic.com/17247926/r/il/4bc039/4438169019/il_570xN.4438169019_orcx.jpg');
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

